@import url("common.css");
@import url("footer.css");

:root {
    /* Hero */
    --company-logo-font-size: 1rem;
    --header-container-padding: 2rem;
    --hero-title-font-size: 10vw;
}

@media only screen and (min-width: 768px) {
    :root {

        /* Hero */
        --company-logo-font-size: 1.5rem;
        --header-container-padding: 6rem;
        --hero-title-font-size: 7vw;
    }
}

@media only screen and (min-width: 992px) {
    :root {
        /* Hero */
        --company-logo-font-size: 1.5rem;
        --header-container-padding: 6rem;
        --hero-title-font-size: 7vw;
    }
}

/* ----------------------------------------------------------------------------
 * Header
 * ---------------------------------------------------------------------------*/

.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(7, 4, 0, 0.2)), url(../img/furniture-hero-bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.header .container {
    padding: var(--header-container-padding);
}

.about-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(7, 4, 0, 0.2)), url(../img/172265636_169620748405959_5553376907795596059_n.jpg);
}

.logo {
    display: flex;
    align-items: center;
}

.logo .company {
    color: var(--white-color);
    font-size: var(--company-logo-font-size);
    font-family: var(--para-font);
    font-weight: 600;
    flex-grow: 1;
    cursor: pointer;
}

.logo img {
    width: 50px;
    /* padding: 10px; */
    vertical-align: middle;
    /* height:60px; */
    margin-right: 0.5rem;
    cursor: pointer;
}

.logo .lang-container {
    color: var(--white-color);
    vertical-align: middle;
    font-size: 1rem;
    font-family: var(--para-font);
    font-weight: 600;
    margin-right: 0px;
    margin-left: auto;
}

.logo .lang-container a {
    color: var(--white-color);
}

.logo .lang-container a:link {
    text-decoration: none;
}

.logo .lang-container a:visited {
    text-decoration: none;
}

.logo .lang-container a:hover {
    text-decoration: none;
}

.logo .lang-container a:active {
    text-decoration: none;
}

.logo .lang-container .selected-lang {
    color: #dd9d4c;
}

.hero-content {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-content .main-heading {
    color: var(--white-color);
    font-size: var(--hero-title-font-size);
    font-weight: 300;
    line-height: 1;
    font-family: var(--heading-font);
    /* margin-bottom: 2.8rem; */
}

/* top margin is 25px
right margin is 50px
bottom margin is 75px
left margin is 100px */

.hero-content .btn {
    /* margin: 2em; */
    margin: 2em 0 0 0em;
}