/*-------------- Google fonts ---------------*/
/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=PT+Serif:wght@400;700&display=swap'); */

@import url('font.css');

:root {
    /* Fonts */
    --heading-font: 'PT Serif', serif;
    --para-font: 'Outfit', sans-serif;

    /* Colors */
    --primary-color: #dd9d4c;
    --secondary-color: #2d3436;
    --body-color: #f6f1ed;
    --body-color-2: #E8E4E2;
    --body-color-3: #D9D4D0;
    --white-color: #ffffff;

    /* Device specifics */
    --param-line-font-size: 4.6vw;
    --heading-font-size: 6vw;
    --col-direction: column;
    --container-padding: 3rem;
}

@media only screen and (min-width: 768px) {
    :root {
        /* Device specifics */
        --param-line-font-size: 2.6vw;
        --heading-font-size: 3.5vw;
        --col-direction: row;
        --container-padding: 4rem;

        /* Hero */
        --header-container-padding: 6rem;
        --company-logo-font-size: 1.5rem;
        --hero-title-font-size: 7vw;
    }
}

@media only screen and (min-width: 992px) {
    :root {
        /* Device specifics */
        --param-line-font-size: 1.6vw;
        --heading-font-size: 3.5vw;
        --col-direction: row;
        --container-padding: 6rem;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: var(--body-color);
}

.heading {
    font-size: var(--heading-font-size);
    font-family: var(--heading-font);
    margin-bottom: 10px;
}

.para-line {
    color: var(--secondary-color);
    font-size: var(--param-line-font-size);
    font-weight: 300;
    font-family: var(--para-font);
}

.btn {
    color: #ffffff;
    background-color: var(--primary-color);
    font-family: var(--para-font);
    font-size: 1.3rem;
    border: none;
    outline: none;
    padding: .7rem 3.2rem;
    width: max-content;
    cursor: pointer;
    transition: .3s;
}

.btn:hover {
    transform: translate(10px);
}

.container {
    padding: var(--container-padding);
}

.container .row {
    display: flex;
    flex-direction: var(--col-direction);
    justify-content: flex-start;
    gap: 2rem;
}

.container .row .col {
    width: 100%;
}