@import url("common.css");

/* ----------------------------------------------------------------------------
 * Header
 * ---------------------------------------------------------------------------*/

.header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(7, 4, 0, 0.2)), url(../img/furniture-hero-bg.jpg);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.header .container {
    padding: var(--header-container-padding);
}

.about-header {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(7, 4, 0, 0.2)), url(../img/172265636_169620748405959_5553376907795596059_n.jpg);
}

.wood-header {
    height: 30vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(7, 4, 0, 0.2)), url(../img/172265636_169620748405959_5553376907795596059_n.jpg);
    background-size: cover;
    background-position: center top;
        background-repeat: no-repeat;
}

.logo {
    display: flex;
    align-items: center;
}

.logo .company {
    color: var(--white-color);
    font-size: var(--company-logo-font-size);
    font-family: var(--para-font);
    font-weight: 600;
    flex-grow: 1;
    cursor: pointer;
}

.logo img {
    width: 50px;
    /* padding: 10px; */
    vertical-align: middle;
    /* height:60px; */
    margin-right: 0.5rem;
    cursor: pointer;
}

.logo .lang-container {
    color: var(--white-color);
    vertical-align: middle;
    font-size: 1rem;
    font-family: var(--para-font);
    font-weight: 600;
    margin-right: 0px;
    margin-left: auto;
}

.logo .lang-container a {
    color: var(--white-color);
}

.logo .lang-container a:link {
    text-decoration: none;
}

.logo .lang-container a:visited {
    text-decoration: none;
}

.logo .lang-container a:hover {
    text-decoration: none;
}

.logo .lang-container a:active {
    text-decoration: none;
}

.logo .lang-container .selected-lang {
    color: #dd9d4c;
}

.hero-content {
    width: 100%;
    height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.hero-content .main-heading {
    color: var(--white-color);
    font-size: var(--hero-title-font-size);
    font-weight: 300;
    line-height: 1;
    font-family: var(--heading-font);
    /* margin-bottom: 2.8rem; */
}

/* top margin is 25px
right margin is 50px
bottom margin is 75px
left margin is 100px */

.hero-content .btn {
    /* margin: 2em; */
    margin: 2em 0 0 0em;
}

/* ----------------------------------------------------------------------------
 * Presentation
 * ---------------------------------------------------------------------------*/

.presentation .container .row {
    flex-direction: var(--presentation-col-direction);
    /* Vertical align text with image */
    align-items: center;
    gap: 6rem;
}

.presentation-img {
    width: 100%;
}

/* ----------------------------------------------------------------------------
 * Products
 * ---------------------------------------------------------------------------*/

.products {
    background-color: var(--body-color-2);
}

.products .container .row {
    flex-direction: var(--products-col-direction);
}

/* .products .title-section {
    display:flex;
} */

/* .products .title-section .btn {
    height: max-content;
} */

#product-list {
    padding: 0;
    margin: 0;
    margin-top: -8rem;
}

#product-list .row {
    margin-top: 2rem;
}

/* ----------------------------------------------------------------------------
 * Product
 * ---------------------------------------------------------------------------*/

.product {
    transition: .5s;
}

.product:hover {
    transform: translateY(-10px);
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
}

.product .product-img,
.product .name {
    cursor: pointer;
    font-size: var(--product-name-font-size);
    font-family: var(--para-font);
    font-weight: 600;
}

.product .product-img {
    width: 100%;
}

/* ----------------------------------------------------------------------------
 * Portfolios
 * ---------------------------------------------------------------------------*/

.portfolios {
    background-color: var(--body-color-3);
}

.portfolios .name {
    font-size: var(--portfolio-name-font-size);
    font-weight: 500;
    font-family: var(--para-font);
}

.portfolio-img {
    width: 100%;
}

/* ----------------------------------------------------------------------------
 * Footer
 * ---------------------------------------------------------------------------*/

.footer {
    /* height: 70vh; */
    /* height: 30rem; */
    height: var(--footer-height);
    background-position: center center;

    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(7, 4, 0, 0.2)), url(../img/footer-bg-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: top center; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .container {
    padding: 5rem;
    width: 100%;
}

.footer .container .heading {
    color: var(--white-color);
    /* margin-bottom: 3rem; */
}

.footer .container .row {
    margin-top: 3rem;
    flex-direction: var(--footer-col-direction);
}

.footer-heading {
    color: var(--white-color);
    font-size: var(--footer-heading-font-size);
    font-family: var(--heading-font);
}

.footer-text {
    color: var(--white-color);
    font-size: var(--footer-font-size);
}

/* On phone and desktop */
/* 1. mailing address */
/* 2. email */
/* 3. phone */
#footer-mailing-address-first {
    visibility: var(--footer-mailing-address-first-visibility);
    display: var(--footer-mailing-address-first-display);
}

/* On tablet */
/* 1. email */
/* 2. phone */
/* 3. mailing address */
#footer-mailing-address-last {
    visibility: var(--footer-mailing-address-last-visibility);
    display: var(--footer-mailing-address-last-display);
}



.wood-list .container .row {
    flex-direction: var(--products-col-direction);
}

.wood-list .wood-img {
    width: 100%;
}